.largelogo {
    margin-left: 300px;
    padding: 50px;
    transition: 5s;
    animation: rotation 10s infinite linear;
    
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 .text {
     margin-left: 200px;

/* the above is the animation for the spinning logo  */

 }
 .button1 {
    height: 61px;
    width: 61px;
    background-color: rgba(51, 74, 82, 0.3);
    border-radius: 50%;
    margin-left: 328px;
    margin-top: -50px;

  }

.button2 {
    height: 61px;
    width: 61px;
    background-color: rgb(51, 74, 82, 0.3);
    border-radius: 50%;
    margin-left: 473px;
    margin-top: -61px;
  }
  /* this css creates our buttons for our carousel */

/* 
.largelogo:hover {
  animation: rotation 0.5s infinite linear;
} */

@keyframes slideInFromTop {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}
#transition {  
  /* This section calls the slideInFromTop animation we defined above for text transition on home page */
  animation: 1s ease-out slideInFromTop;
}

#caro{  
  /* This section calls the slideInFromTop animation we defined above for carousel on home page */
  animation: 1s ease-out slideInFromTop;
}