.linebg {
    margin-left: 200px;
    margin-top: 70px;
    height: 330px;
    width: 1533px;
    background-color: rgba(51, 74, 82, 0.3);
    border: 1px solid rgba(112,112,112,0.3);
    border-radius: 3%;
    text-align: center;
    position: fixed;
}
.line {
    margin-left: 50px !important;
    margin-top: 25px;
}

.smallbg {
    height: 434px;
    width: 434px;
    background-color: rgba(51, 74, 82, 0.3);
    border: 1px solid rgba(112,112,112,0.3);
    border-radius: 3%;
    text-align: center;
    display: inline-block;
    margin-right: 112px;
}

.smallbg2 {
    height: 434px;
    width: 434px;
    background-color: rgba(51, 74, 82, 0.3);
    border: 1px solid rgba(112,112,112,0.3);
    border-radius: 3%;
    text-align: center;
    display: inline-block;
    margin-left: 1296px;
}


.graphcontainer {
    margin-left: 200px;
    margin-bottom: -50px;
    position: fixed;
}

h1, h2, h3 {
    font-family: Roboto;
}

.title {
margin-left: 650px;
margin-top: -80px;
margin-bottom: 50px;
color: white;

}

@keyframes slideInFromTopprofile {
    0% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(0);
    }
  } 
#bargraph{  
    /* This section calls the slideInFromTop animation we defined above for carousel on home page */
    animation: 1s ease-out slideInFromTopprofile;
  }


body {
    font-family: Roboto;
}